.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Card Container */

.app-container{
width: 400px;
padding: 24px;
border-radius: 16px;

background:  rgba(255, 255, 255, 0.15);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);

border: 1px solid rgba(255, 255, 255, 0.25);
box-shadow:  0 10px 35px rgba(0, 0, 0, 0.3);

text-align: center;
}

/* Heading section */
.heading {
  margin-bottom: 24px;
  color: #ffffff;
}
.heading h1 {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 6px;
}
.heading p {
  font-size: 14px;
  opacity: 0.8;
}
/* Input section */

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
}
.task-input {
  flex:1;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.input-section button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none; 
  cursor: pointer;
  height: fit-content;
  background-color: #09c1a8;
  color: #ffffff;
  font-weight: 500;

  transition: transform 0.15s ease, background 0.15s ease;
}

.input-section button:hover {
  background: #4338ca;
  transform: translateY(-1px);
}

.input-section button:active {
  transform: scale(0.97);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 14px; 
}
/*Task item styling */
.task-item {
  padding: 12px 14px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
  font-size: 14px;

  transition: transform 0.15s ease, background 0.15s ease;
}

.task-item:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: translateY(-2px);
}
/* Task text styling */
.task-item span {
  flex: 1;
  text-align: left;
  word-break: break-word;
}

/* Delete button */
.task-item button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;

  transition: transform 0.15s ease;
}

.task-item button:hover {
  transform: scale(1.2);
}
