.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Card Container */

.app-container{
width: 400px;
padding: 24px;
border-radius: 16px;

background:  rgba(255, 255, 255, 0.15);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);

border: 1px solid rgba(255, 255, 255, 0.25);
box-shadow:  0 10px 35px rgba(0, 0, 0, 0.3);

text-align: center;
}

/* Heading section */
.heading {
  margin-bottom: 24px;
  color: #ffffff;
}
.heading h1 {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 6px;
}
.heading p {
  font-size: 14px;
  opacity: 0.8;
}
/* Input section */

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
}
